@import "./normalize.scss";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: "Futura PT";
  src: url("../files/font/FuturaPT-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
section {
  padding: 80px 0;
}
body {
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 12px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 999;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(4px);
}
.header__logo {
  margin-right: auto;
}
.header__flex {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  align-items: center;
  li {
    &:not(:last-child) {
      margin-right: 70px;
    }
    &:hover {
      a {
        color: #436b67;
      }
    }
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #403a3e;
      transition: all 0.3s linear;
    }
  }
}
.header__contact {
  margin-left: 80px;
  display: flex;
  align-items: center;
  .header___mobil {
    background: url(@img/phone.svg) left center no-repeat;
    padding-left: 30px;
    a {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 18px;
      color: #625c60;
    }
  }
}
.header__social {
  display: flex;
  align-items: center;
  margin-left: 70px;
  a {
    display: block;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
.header__cart {
  margin-left: 70px;
  a {
    position: relative;
    .counter {
      display: block;
      position: absolute;
      width: 15px;
      height: 15px;
      background: #6a4d67;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      top: -30%;
      right: -45%;
      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 10px;
        line-height: 7px;
        color: #ffffff;
      }
    }
  }
}

.hero {
  padding: 115px 0;
  .container {
    max-width: 1560px;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }
}
.home-form {
  .container {
    max-width: 1560px;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }
}

.hero__left {
  max-width: 550px;
  h1 {
    font-weight: 400;
    font-size: 88px;
    line-height: 113px;
    text-transform: uppercase;
    color: #403a3e;
    font-family: "Futura PT";
  }
  p {
    margin-top: 10px;
    max-width: 477px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #778ca3;
  }
  .btn {
    margin-top: 30px;
  }
}
.btn {
  padding: 16px 60px;
  border: 1px solid #6a4d67;
  border-radius: 50px;
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
}
.btn-color {
  background: #6a4d67;
  color: #ffffff;
}
.hero__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero__right {
  width: 920px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-bottom: 30px !important;
  .swiper-pagination {
    bottom: 0 !important;
    .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background: #6a4d67;
      opacity: 0.5;
    }
  }
  .swiper-wrapper {
    .hero__slide {
      width: 100%;
      height: 770px;
      border-radius: 20px 0px 0px 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
::-webkit-scrollbar {
  display: none;
}

.bg-gray {
  background: rgba(223, 228, 234, 0.21);
}
.sectio__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #6a4d67;
    background: url(@img/arrow.svg) right center no-repeat;
    padding-right: 20px;
  }
  h2 {
    font-family: "Futura PT";
    font-size: 40px;
    line-height: 51px;
    text-align: left;
    color: #403a3e;
  }
}
.service {
  position: relative;
  &:after {
    position: absolute;
    content: "";
    background: url(@img/smuga.png) center center no-repeat;
    display: block;
    top: 0;
    left: 0;
  }
}
.service__flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 70px;
}
.service__item {
  background: #ffffff;
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 20px;
  padding: 30px 100px;
  max-width: 375px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: stretch;
  margin-bottom: 38px;

  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4b6584;
  }
}
.service__img {
  margin-bottom: 30px;
}
.catalog__item {
  background: #ffffff;
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 20px;
  overflow: hidden;
  padding-bottom: 30px;
  transition: all 0.2s linear;
  &:hover {
    box-shadow: 5px 0px 30px rgba(175, 184, 201, 0.5);
  }
}
.catalog__img {
  height: 270px;
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.catalog__atr {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.art {
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #8f8f8f;
  }
}
.availability {
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #7eb45e;
  }
}
.catalog__atr {
  margin-top: 20px;
}
.catalog__detail {
  padding: 0 12px;
}
.catalog__title {
  margin-top: 20px;
  h3 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4b6584;
  }
}
.catalog__price {
  margin-top: 20px;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #403a3e;
    span {
      font-weight: 400;
      padding-left: 5px;
    }
  }
}
.catalog__button {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  .btn {
    padding: 16px 45px;
  }
}
.catalog__slider {
  padding-top: 70px !important;
  padding-bottom: 70px !important;
}
.instagram {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}
.instagram__item {
  border-radius: 20px;
  overflow: hidden;
}
.instagram__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.instagram__item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}
.instagram__item:nth-child(3) {
  grid-area: 1 / 2 / 2 / 3;
}
.instagram__item:nth-child(4) {
  grid-area: 2 / 2 / 3 / 3;
}
.instagram__item:nth-child(5) {
  grid-area: 1 / 3 / 3 / 5;
}
.instagram__item:nth-child(6) {
  grid-area: 1 / 5 / 2 / 6;
}
.instagram__item:nth-child(7) {
  grid-area: 2 / 5 / 3 / 6;
}
.portfolio {
  padding-top: 80px;
  display: grid;
  grid-template-columns: 2.5fr 1fr repeat(2, 0.4fr) 1fr;
  grid-template-rows: 0.3fr 0.4fr repeat(2, 0.2fr) 0.4fr 0.3fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.portfolio__zoom {
  transform: translateY(-100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(164, 176, 190, 0.5);
  cursor: pointer;
  transition: all 0.2s linear;
  > img {
    width: 33px !important;
    height: 33px !important;
  }
}
.portfolio__item {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  &:hover {
    .portfolio__zoom {
      transform: translateY(0%);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.portfolio__item:nth-child(1) {
  grid-area: 1 / 1 / 4 / 2;
}
.portfolio__item:nth-child(2) {
  grid-area: 4 / 1 / 7 / 2;
}
.portfolio__item:nth-child(3) {
  grid-area: 1 / 2 / 3 / 3;
}
.portfolio__item:nth-child(4) {
  grid-area: 1 / 3 / 3 / 5;
}
.portfolio__item:nth-child(5) {
  grid-area: 1 / 5 / 3 / 6;
}
.portfolio__item:nth-child(6) {
  grid-area: 3 / 2 / 5 / 4;
}
.portfolio__item:nth-child(7) {
  grid-area: 3 / 4 / 5 / 6;
}
.portfolio__item:nth-child(8) {
  grid-area: 5 / 2 / 7 / 3;
}
.portfolio__item:nth-child(9) {
  grid-area: 5 / 3 / 7 / 5;
}
.portfolio__item:nth-child(10) {
  grid-area: 5 / 5 / 7 / 6;
}
.home-form {
  padding: 0;
}
.form__img {
  max-width: 800px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.form__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  form {
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    button {
      margin-top: 20px;
      cursor: pointer;
    }
    h2 {
      font-family: "Futura PT";
      font-style: normal;
      font-size: 40px;
      line-height: 51px;
      color: #403a3e;
      margin-bottom: 15px;
    }
    p {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #778ca3;
      margin-bottom: 20px;
    }
    input {
      width: 100%;
      padding: 20px 25px;
      border-radius: 20px;
      margin-bottom: 20px;
      &::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #403a3e;
      }
    }
    textarea {
      width: 100%;
      padding: 20px 25px;
      border-radius: 20px;
      resize: none;
      &::placeholder {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #403a3e;
      }
    }
  }
}

.custom__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #403a3e;
}

/* Hide the browser's default checkbox */
.custom__checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: white;
  border: 1px solid #a4b0be;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom__checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom__checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.footer {
  background: white;
  padding: 45px 0;
}
.footer__flex {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__menu {
  a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 125.9%;
    color: #4b6584;
    margin-bottom: 16px;
    display: block;
  }
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 18px;
      }
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #4b6584;
      }
    }
  }
}

.footer__contact {
  margin-bottom: 15px;
  max-width: 170px;
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #4b6584;
    margin-bottom: 10px;
  }
  a {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color: #4b6584;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 120px;
}

.baner__flex {
  background: #6a4d67;
  box-shadow: 10px 0px 50px rgba(175, 184, 201, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 40%;
    left: -20%;
    width: 380px;
    height: 380px;
    background: url(@img/podushka.png) center center/cover no-repeat;
  }
}
.baner__img {
  border-radius: 0px 20px 20px 0;
  overflow: hidden;
  height: 100%;
  max-width: 620px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.baner__info {
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;
  color: #ffffff;
  max-width: 580px;
  padding-left: 50px;
  .btn {
    margin-top: 20px;
    background: #ffffff;
    color: #6a4d67;
  }
}
.breadcrumbs {
  padding: 120px 0 0 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    form {
      border: 1px solid #a4b0be;
      display: flex;
      align-items: center;
      padding: 11px;
      button {
        background: transparent;
        outline: none;
        border: none;
        height: 17px;
        width: 17px;
      }
      input {
        margin-right: 15px;
        appearance: none;
        &::placeholder {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #a4b0be;
        }
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    li {
      margin-right: 24px;
      &.active {
        a {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: #4b6584;
          background: none;
        }
      }
      a {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #403a3e;
        background: url(@img/arrowBarad.png) right center no-repeat;
        padding-right: 20px;
      }
    }
  }
}
.catalog__filter {
  max-width: 300px;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(124, 169, 164, 0.1);
  padding: 20px 45px;
  max-height: 1070px;
  h4 {
    margin-bottom: 34px;
    font-family: "Futura PT";
    font-style: normal;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #403a3e;
  }
}
.shop {
  .container {
    display: flex;
    justify-content: space-between;
  }
}
.catalog__flex {
  margin-left: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
  padding-bottom: 80px;
  .catalog__item {
    max-width: 32%;
    width: 100%;
    margin-bottom: 40px;
    .btn {
      padding: 16px 28px;
    }
  }
}
.catalog__filter {
  form {
    .wrapper {
      &:not(:first-child) {
        margin-top: 20px;
      }
      label {
        margin-top: 15px;
        align-items: center;
        input {
          display: none;
          &:checked {
            ~ span:after {
              display: block;
            }
          }
        }
        span {
          display: block;
          width: 19px;
          height: 19px;
          border: 1px solid #a4b0be;
          margin-right: 15px;
          position: relative;
          &:after {
            content: "";
            position: absolute;
            display: none;
            top: 2px;
            left: 6px;
            width: 3px;
            height: 8px;
            border: solid #000;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
        }
        p {
          font-family: "Montserrat";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #403a3e;
        }
      }
    }
    .wrapper__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      ~ label {
        display: none;
      }
      &.active {
        ~ label {
          display: flex;
        }
      }
      svg {
        transform: rotate(90deg);
      }
      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #403a3e;
      }
    }
  }
}
.catalog__pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  a:first-child {
    svg {
      transform: rotate(180deg);
    }
  }
}
.pagination__page {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #403a3e;
    &.active {
      background: #a4b0be;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
    }
  }
}
.tovar__gallery {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 580px;
}
.gallery__thumbs {
  max-width: 75px;
  width: 100%;
  max-height: 530px;
  margin-left: 0 !important;
  margin-right: 30px !important;
}
.gallery__thumbs-item {
  height: 75px !important;
  border-radius: 20px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.gallery__main {
  height: 530px;
  max-width: 476px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.gallery__item {
  border-radius: 20px;
  overflow: hidden;
  height: 100% !important;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.tovar__flex {
  display: flex;
  align-items: flex-start;
}
.tovar__description {
  max-width: 480px;
  h4 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #403a3e;
  }
  p {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #403a3e;
  }
}
.tovar__title {
  max-width: 480px;
  span {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #7eb45e;
    margin: 25px 0;
    display: block;
  }
  h1 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #403a3e;
  }
}
.tovar__detail {
  margin-left: 40px;
}
.tovar__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #403a3e;
  span {
    font-weight: 400;
  }
}
.tovar__atribute {
  margin: 25px 0;
  ul {
    li {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #4b6584;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}
.tovar__cart {
  margin-bottom: 40px;
  max-width:390px;
  form {
    display: flex;
    align-items: center;
    justify-content:space-between;
    label {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #6a4d67;
      border-radius: 50px;
      padding: 16px 40px;
      span {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 18px;
        text-align: center;
        color: #6a4d67;
      }
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }
      input {
        max-width: 40px;
        margin: 0 20px;
        text-align: center;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 18px;
        color: #6a4d67;
        background-color: white;
      }
    }
  }
}
